name: buildpr

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [8.x]

    steps:
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies  
        run: |
          sudo apt-get update
          sudo apt-get install -y libusb-dev libusb-1.0 libudev-dev
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g pxt
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.REPOSITORY_ACCESS_TOKEN }} 
          submodules: 'recursive' 
      - run: scripts/setup.sh
      - run: cd pxt-lets-steam;pxt ci
        env:
          CHROME_BIN: chromium-browser
          DISPLAY: :99.0
          CI: true

